/********************************************
* Custom CSS Styles for Basic Mockup Exercise
*
* Some CSS rules have been added for you below.
* Edit and add CSS rules as you see fit! :D
********************************************/

html,
body {
	font-family: sans-serif;
	margin: 0;
}

.container {
	margin: 0 auto;
	width: 1170px;
}

.clear {
	clear: both;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

header{
	background-color: #38acec;
	margin: 10px;
	padding: 1px;
}

.instructions{
	border: 5px solid #d3d3d3;
	padding: 10px 20px 20px 20px;
	margin: 30px;
}

.pull-left{
	border: 5px solid #d3d3d3;
	float: left;
	margin: 20px;
}

.pull-right{
	border: 5px solid #d3d3d3;
	float: right;
	margin: 5px;
}

.clear{
	background-color: #38acec;
	padding: 20px 20px 10px 20px;
}

footer{
	background-color: #000000;
	font-style: italic;
	color: #2c3539;
	font-size: 0.75em;
	margin: 30px 10px 10px 10px;
	padding: 20px;
}